<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">
      <h1 class="text-center header">Details</h1>
    </span>
  </div>
</nav>

<div class="card" style="width: 18rem">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Blend Name:{{ product.blend_name }}</li>
    <li class="list-group-item">Origin:{{ product.origin }}</li>
    <li class="list-group-item">Variety:{{ product.variety }}</li>
    <li class="list-group-item">Intensifier:{{ product.intensifier }}</li>
    <li class="list-group-item">Notes:{{ product.notes }}</li>
  </ul>
</div>