<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Blend Name</th>
      <th scope="col">Origin</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let product of products; let i = index"
      (click)="rowClicked(product)"
      [class.active]="(activeProductId$ | async) == product.id"
    >
      <td>{{ product.index }}</td>
      <td>{{ product.blend_name }}</td>
      <td>{{ product.origin }}</td>
    </tr>
  </tbody>
</table>
